.top-header {
    padding: 15px;
    font-size: 1.5em;
}

/* Colors */
.red-blue {
    background: #cc2b33,; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #cc2b33,
      #3a5588
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #cc2b33,
      #3a5588
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.red-purple {
    background: #cc2b5e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #cc2b5e,
      #753a88
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #cc2b5e,
      #753a88
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}